body {
    background-color: #222;
    font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#content {
  margin: 15% auto;
  max-width: 768px;
  padding: 24px;
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
}

#content > #logo > span {
    font-size: 3rem;
    margin: 16px;
}

#content > #logo > img {
    vertical-align: bottom;
}

#content > #logo > img:nth-of-type(2) {
    margin-left: -80px;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
}

#content > * {
    padding: 12px;
    width: 100%;
}

input, select {
    border: 1px solid #222;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-size: 1.3rem;
}

select {
    padding: 12px;
    border-right: 16px solid transparent;
}

input[type=button]:hover, input[type=submit]:hover {
    background-color: #313131;
}

.header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
}

.header > div {
    margin: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header > div > * {
    margin: 12px;
}

.header #instance-select {
    margin-left: auto;
}

.header #submit {
    width: 200px;
}

.footer {
    background-color: #222;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    gap: 12px;
}

#search {
    max-width: 768px;
}

.header #search {
    width: 80%;
}

a, a:visited {
    color: #1ed2ff;
}

.a:hover {
    color: white;
}

#results {
    max-width: 768px;
}

ol {
    padding: 0;
}

li.search-result {
    list-style-type: none;
}

.search-result {
    margin: 12px;
    padding: 12px;
}

.search-result > * {
    margin: 8px;
}

.post-url {
    float: right;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.post-citation > img {
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: middle;
    border-radius: 8px;
}

.post-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.post-body > .search-term {
    font-weight: bold;
}
