body {
    background-color: #222;
    color: white;
    padding: 8px;
    font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
    color: #1ed2ff;
}

ol {
    padding: 0;
    list-style-type: none;
}

#header, #footer {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: #222;
    padding: 8px;
}

#menu > #instance-select-div {
    float: right;
    clear: both;
    width: 100%;
    max-width: 256px;
}

#header {
    top: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#footer {
    bottom: 0;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: -1;
}

#header > * {
    margin: 8px 0;
}

#results {
    width: 100%;
    max-width: 768px;
}

#search-form {
    width: 100%;
    max-width: 768px;
}

#content {
    margin: 15% auto;
    max-width: 768px;
}

label {
    height: 32px;
}

#instance-select {
    max-width: 256px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
}

#response-time {
    width: 100%;
}

#page-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
    margin: 8px;
}

#logo > span {
    font-size: 3rem;
    margin: 16px;
}

#logo > img {
    vertical-align: bottom;
}

#logo > img:nth-of-type(2) {
    margin-left: -80px;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
}

.search-result {
    padding: 8px;
}

.post-citation > img {
    width: 16px;
    height: 16px;
    margin: 4px;
    vertical-align: middle;
    border-radius: 8px;
}

.post-name {
    font-size: 1.3rem;
}

.post-body {
    margin: 4px;
}

.post-body > .search-term {
    font-weight: bold;
}

.selectize-input {
    border-radius: 16px;
    padding-right: 40px;
}

.selectize-input.input-active {
    border-radius: 16px;
}

.selectize-dropdown {
    border-radius: 16px;
    z-index: 2;
}

.search {
    border: 1px solid black;
    border-radius: 16px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
}

.search > img, .tooltip {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 8px;
}

.search img {
    width: 16px;
    height: 16px;
}

.search > input[type="text"], input[type="text"]:focus {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
}

input[type="submit"] {
    border-radius: 16px;
    height: 32px;
    width: 100%;
    max-width: 768px;
}

.tooltip {
    position: relative;
}

.tooltip > .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;

    position: absolute;
    z-index: 1;
}

.tooltip > .tooltip-text.top {
    bottom: 170%;
    left: 50%;
    margin-left: -150px;
}

.tooltip > .tooltip-text.bottom {
    top: 170%;
    left: 50%;
    margin-left: -150px;
}

.tooltip:hover > .tooltip-text {
    visibility: visible;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.tooltip .tooltip-text.top::after {
    top: 100%;
    left: 50%;
    border-color: white transparent transparent transparent;
}

.tooltip .tooltip-text.bottom::after {
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent white transparent;
}

.highlight {
    display: block;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .tooltip > .tooltip-text.top {
        margin-left: -275px;
    }
    
    .tooltip > .tooltip-text.bottom {
        margin-left: -275px;
    }

    .tooltip .tooltip-text.top::after {
        left: 92%;
    }
    
    .tooltip .tooltip-text.bottom::after {
        left: 92%;
    }
}