.tips {
	background-color: #161616;
	padding: 1rem;
	border-radius: 8px;
	position: relative;
    margin-top: 12px;
    visibility: hidden;
    white-space: nowrap;
}

.show-tips {
    cursor: help;
    text-decoration: underline dotted;
    text-underline-offset: .3em;
    text-align: end;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

#showTips {
    display: none;
}

#showTips:checked + .tips {
    visibility: visible;
}

.tips ul {
	margin: .5em 0;
	padding-inline-start: 1.5em;
}

.results .tips-section {
    margin-left: auto;
    margin-right: .5em;
    position: relative;
}

.results .tips {
    position: absolute;
    right: 0;
}

.results .tips:before {
    position: absolute;
    right: 10px;
    left: unset;
}

@media screen and (max-width: 768px) {
    .results .tips-section {
        position: unset;
    }

    .tips {
        position: absolute;
        display: table;
        margin: 12px auto; 
        left: 12px;
        right: 12px; 
    }
}

@media screen and (min-width: 768px) {
    .tips:before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #161616;
          position: absolute;
          top: -10px;
          right: 24px;
      }
}
