# Turn this flag on to enable QOL features for development:
#  * Turns on a /crawl endpoint to trigger the crawler manually
#  * Other features to come in the future.
development_mode: false
crawler:
  # Turns ON or OFF the crawler.  Useful if you want to do testing and don't
  # want to worry about it indexing the seed instance randomly.
  enabled: false
  # Which instance to gather actual Posts from.  Any other lemmy instances
  # that are federated with this instance will also be crawled, but only to
  # cross reference Posts found on the seed instance.
  seed_instance: "voyager.lemmy.ml"
  # Turn this on if you you only want to crawl the seed_instance.  Users will
  # only be able to select your seed_instance as a preferred instance with
  # this turned on.
  single_instance_only: false
  # Turn ON or OFF stack-traces.  Logging will still occur, but details
  # on any crashes will be suppressed if this is turned off.
  log: true
# Details about the postgres database.  See the docker-compose.yml for details.
postgres:
  # The root user that should be used to connect to the database.
  user: "lemmy"
  # That user's password.
  password: "password"
  # The hostname as defined in the docker-compose.yml for the postgres service.
  hostname: "lemmy-search-db"
  # The post as defined in the docker-compose.yml.  Default port for postgres is 5432.
  port: 5432
  # The default database that is created by postgres on boot-up.  Check your 
  # docker-compose.yml for details.
  database: "lemmy-search-db"
  # Same as the crawler's logging.  This just turns ON or OFF stack-trace reporting.
  # Logs will still be sent to the console but they won't contain any stack-traces
  # should a crash or panic occur.
  log: false
  # The maximum number of concurrent connections to the database that should be
  # maintained.
  max_size: 15
